<div class="container">

    {{!-- BIG TABLE --}}
    <div class="hidden-xs">
        <div class="panel-group">
            {{!-- INFORMACIÓN DEL USUARIO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información del Usuario</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Nombre del Funcionario</th>
                            <th>Cargo</th>
                            <th>Dependencia</th>
                            <th>Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- INFORMACIÓN DEL EQUIPO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información del Equipo</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Tipo</th>
                            <th>Referencia / Modelo</th>
                            <th>Marca</th>
                            <th>Serial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr>
                            <th>N° Inventario</th>
                            <th>Nombre del Equipo</th>
                            <th>Grupo de Trabajo</th>
                            <th>IP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr>
                            <th>Puerta de Enlace</th>
                            <th>Tarjetas</th>
                            <th>Particiones</th>
                            <th>Quemador de CD o DVD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Marca</th>
                            <th>Serial</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ram</td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td rowspan="5"></td>
                        </tr>
                        <tr>
                            <td>Disco Duro</td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Mouse</td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Teclado</td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Sistema Operativo</td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr>
                            <th>Nombre del Sistema Operativo</th>
                            <th>Versión</th>
                            <th>Service Pack</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- ANEXOS --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Anexos</h3>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- PROGRAMAS INSTALADOS --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Programas Instalados</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center">Licenciados</th>
                            <th colspan="2" class="text-center">Gratuitos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- OBSERVACIONES --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Observaciones</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tbody>
                        <tr>
                            <td rowspan="4"><textarea rows="10"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- INFORMACIÓN ALMACENAMIENTO DEL FORMATO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información Almacenamiento del Formato</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Archivado por</th>
                            <th>Fecha</th>
                            <th>Lugar</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{!-- SMALL TABLE --}}
    <div class="visible-xs">
        <div class="panel-group">
            {{!-- INFORMACIÓN DEL USUARIO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información del Usuario</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr><th>Nombre del Funcionario</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Cargo</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Dependencia</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Observación</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                </table>
            </div>
            {{!-- INFORMACIÓN DEL EQUIPO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información del Equipo</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr><th>Tipo</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Referencia / Modelo</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Marca</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Serial</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>N° Inventario</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Nombre del Equipo</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Grupo de Trabajo</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>IP</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Puerta de Enlace</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Tarjetas</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Particiones</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Quemador de CD o DVD</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                </table>
            </div>
            {{!-- MARCA / SERIAL --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Marca / Serial</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr><th colspan="2">Ram</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th colspan="2">Disco Duro</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th colspan="2">Mouse</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th colspan="2">Teclado</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th colspan="2">Sistema Operativo</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- ANEXOS --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Anexos</h3>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text"></td>
                            <td colspan="2"><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- PROGRAMAS INSTALADOS --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Programas Instalados</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr><th>Licenciados</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Gratuitos</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                </table>
            </div>
            {{!-- OBSERVACIONES --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Observaciones</h3>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr><td><textarea rows="10"></textarea></td></tr>
                    </tbody>
                </table>
            </div>
            {{!-- INFORMACIÓN ALMACENAMIENTO DEL FORMATO --}}
            <div class="panel panel-default">
                <div class="panel-heading bg-secondary text-white text-center">
                    <h3>Información Almacenamiento del Formato</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr><th>Archivado por</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Fecha</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Lugar</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                    <thead class="thead-light">
                        <tr><th>Telefono</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="text"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>